.root {
    font-size: 14px;
}

input[type=text] {
    border: 1px solid #232A30;
    border-radius: 3px;
    color: #3A4045;
    height: 24px;
    line-height: 24px;
    outline: none;
    padding: 0 7px;
    text-shadow: none;
    width: 152px;
}

.button {
    border: 1px solid #209BC9;
    border-radius: 3px;
    color: #209BC9;
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    margin-top: 10px;
    padding: 0 10px;
    text-shadow: none;
    background: none;
}

.saveStatus {
    background-color: #dff0d8;
    margin-left: 10px;
    padding: 3px 5px;
    display: none;
}

.saveStatus.show {
    display: initial;
}
