body {
  margin: 0;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.root {
  width: 100%;
  height: 100%;
  position: absolute;
}

.background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-color: rgba(230,230,230,0.7);
}

.background.zoom {
  animation: 30s zoom ease-out;
}

@keyframes zoom {
  from { transform: scale3d(1.15,1.15,1.15) translate3d(-3%,-5%,0); }
  to { transform: scale3d(1,1,1) translate3d(0,0,0); }
}

.background-info {
  left: 20px;
  bottom: 20px;
  width: 200px;
  line-height: 30px;
  font-size: 0.8rem;
  color: #aaaaaa;
  position: absolute;
}

.background-info-link,
.background-info-link:link,
.background-info-link:visited,
.background-info-link:hover,
.background-info-link:active {
  color: #cccccc;
  text-decoration-line: none;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
